<header class="site-header">

  	  	<head>
		<title>Master Template</title>
	
		<!-- The below ensures that the webpage will respond to the user's screen size -->

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<!-- Very important links to the bootstrap frame work #1 and to the customizations #2 -->

		<link href = "Boot/css/bootstrap.min.css" rel = "stylesheet"> 
		<link href = "Boot/css/style.css" rel = "stylesheet">

			</head>

	<body>
	<!-- The navbar at the top. Default for white, inverse for black. Static for one that doesn't follow scrolling and "fixed" for one that does -->
		<div class = "navbar navbar-inverse navbar-static-top"

		<!-- ensures that everything following is centered and stays in the navbar -->
			<div class = "container">

				<a class = "navbar-brand">#GetMyCodeOn</a> 

				<button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">
					<span class = "icon-bar"></span>
					<span class = "icon-bar"></span>
					<span class = "icon-bar"></span>
				</button>

				<!--Ensures that the header collapses on a small screen like a mobile, until you press a button (to come)-->

				<div class = "collapse navbar-collapse navHeaderCollapse">

				<!-- styles the navbar item and moves it to the right -->
					<ul class = "nav navbar-nav navbar-right">
 
							<!-- The class "active" works on most things that are buttons, indents them -->

							<li class = "active"><a href = "/Final">Home</a></li>
							<li><a href = "/Final/aboutus?">Our Team</a></li>
							<li><a href = "/Final/weeks">Blog</a></li>
							<li class = "dropdown">

								<a href = "#" class = "dropdown-toggle" data-toggle = "dropdown">Social Media<b class = "caret"> </b> </a>
								<ul class = "dropdown-menu">
									<li> <a href = "#">Twitter</a></li>
									<li> <a href = "#">Facebook</a></li>
									<li> <a href = "#">Instagram</a></li>
									<li> <a href = "#">Google+</a></li>
								</ul>

							<li><a href = "/Final/portfolio2">Portfolio</a></li>
							<li><a href = "#">Contact</a></li>

						</ul> 
				</div>
			</div>
		</div>
</header>

