<!DOCTYPE html>
<html>
{% include header.html %}
  

    <body>

    {% include head.html %}

    <div class="page-content">
      <div class="wrap">
      {{ content }}
      </div>
    </div>

    {% include footer.html %}

      <script src = "http://code.jquery.com/jquery-1.11.0.min.js"></script>
				<script src="http://github.io/wsfan/4Loop/bootstrap/js/bootstrap.js"></script>	
				<script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
				<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
code.jquery.com
code.jquery.com
      
    </body>
</html>